.navbar {
	height: 25vh;
	background-color: transparent;
}

.stage-timer {
	border: 1px solid #ccc;
  width: 18vw;
  height: 23vh;
  margin: 1vh 5px;
  background-color: @green-esmerald;


  &.completed {
  	background-color: @gray-concrete;
  }

  &.on-going {
  	background-color: @blue-peter-river;
  }

  &:hover button {
  	display: block;
  }

}